/* Stylesheet from Github */

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #24292e;
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  margin: 0;
}

#main {
  margin: 8px;
}

/* end of Stylesheet from Github */

h1, h2, h3 {
  font-family: "Noto Sans JP", sans-serif;
}

header, footer {
  width: 100%;
  height: 2em;
  background-color: #9ACABE;
}

header p, footer p {
  line-height: 2em;
  padding-left: 0.5em;
  font-family: Muli, sans-serif;
  margin: 0;
  color: white;
}

header a {
  color: white;
}

#suggest ul {
  position: relative;
  padding: 0;
  list-style-type: none;
}

#suggest li {
  display: inline-block;
  padding: 0.5em 1.0em;
	margin-bottom: 5px;
	margin-left: 0.5em;
	margin-right: 0.5em;
	line-height: 1.5;
	vertical-align: middle;
	background: #F7CED6;
	border-radius: 20px;
	cursor: pointer;
}

.hidden_box {
  padding: 0;
}

.hidden_box label {
  cursor :pointer;
}

.hidden_box input {
  display: none;
}

.hidden_show input {
  display: inline;
}

.hidden_box .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
}

.hidden_box #option_menu:checked ~ .hidden_show {
  height: auto;
  opacity: 1;
}

.bonus_firepower {
  background-color: #FFCABF;
}

.bonus_torpedo {
  background-color: #BFE4FF;
}

.bonus_aa {
  background-color: #D8F255;
}

.bonus_asw {
  
}

.bonus_los {
  
}

.bonus_evasion {
  
}

.bonus_armor {
  background-color: #FFCA80;
}

.bonus_other {
  background-color: #C8C8CB;
}

#option_minus:checked ~ .bonus_minus {
  color: #ff4b00;
}
