/* Stylesheet from Github */

body {
  -ms-cud-size-adjust: 100%;
  -webkit-cud-size-adjust: 100%;
  color: #24292e;
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 16px;
  word-wrap: break-word;
  margin: 0;
}

#main {
  margin: 8px;
}

/* end of Stylesheet from Github */

h1, h2 {
  font-family: "Noto Sans JP", sans-serif;
}

h3 {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

header, footer {
  width: 100%;
  height: 2em;
  background-color: #9ACABE;
}

header p, footer p {
  line-height: 2em;
  padding-left: 0.5em;
  font-family: Muli, sans-serif;
  margin: 0;
  color: white;
}

header a {
  color: white;
}

table {
  display: block;
  width: 100%;
  overflow: auto;
}

table th, table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

table thead th {
  background-color: #f6f8fa;
}

#suggest ul {
  position: relative;
  padding: 0;
  list-style-type: none;
}

#suggest li {
  display: inline-block;
  padding: 0.5em 1.0em;
	margin-bottom: 5px;
	margin-left: 0.5em;
	margin-right: 0.5em;
	line-height: 1.5;
	vertical-align: middle;
	/*background: #F7CED6;*/
	border-radius: 20px;
	cursor: pointer;
	border: 1px solid #c8c8cb;
}

.hidden_box {
  padding: 0em;
  font-size: 12px;
  display: inline;
}

.hidden_box label {
  padding: 0.1em 0.5em;
  margin: 0.5em;
  cursor :pointer;
  border: solid 1px;
  display: inline-block;
}

.hidden_show label {
  border: none;
  padding: 0;
  margin: 0;
}

.hidden_box input {
  display: none;
}

.hidden_show input {
  display: inline;
}

.hidden_box .hidden_show {
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  opacity: 0;
}

.hidden_box #option_menu:checked ~ .hidden_show {
  height: auto;
  opacity: 1;
  border: none;
  padding: 0;
  margin: 0;
}

.check_item {
  padding: 0;
}

details {
  display: inline-block;
  border: 1px solid;
  border-radius: 4px;
  padding: 0 0.5em;
  font-size: 12px;
}

summary {
  padding: 0 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
}

details ul {
  margin: 0.5em;
  padding-left: 1.5em;
}

/* colors */

.battleship {
  background-color: #ffcabf ;
}

.aircraft_carrier, .light_carrier {
  background-color: #ffff80 ;
}

.heavy_cruiser {
  background-color: #d8f255 ;
}

.destroyer {
  background-color: #bfe4ff ;
}

.escort {
  background-color: #ffca80 ;
}

.light_cruiser {
  background-color: #77d9a8 ;
}

.submarine {
  background-color: #c9ace6 ;
}

.seaplane_carrier, .fleet_oiler, .other {
  background-color: #c8c8cb ;
}

.tab_wrap {
  width: 100%;
  margin: 0;
}

.panel_area{
  background: #fff;
}

.tab_panel{
  display: none;
}

#tab1:checked ~ .panel_area #panel1 {display: block;}
#tab2:checked ~ .panel_area #panel2 {display: block;}

/* type_label */

ul {
  font-size: 16px;
}

.label {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  padding: 0 0.5em;
  border-radius: 7.5px;
}

.fill_red {
    background: #ff4b00;
    color: white;
}

.fill_yellow {
    box-shadow: 0 0 0 1.5px #84919E inset;
    background: #fff100;
    color: black;
}

.fill_green {
    background: #03AF7A;
    color: white;
}

.fill_blue {
    background: #005AFF;
    color: white;
}

.fill_sky {
    background: #4DC4FF;
    color: white;
}

.fill_orange {
    background: #F6AA00;
    color: white;
}

.fill_purple {
    background: #990099;
    color: white;
}

.fill_brown {
    background: #804000;
    color: white;
}

.fill_gray {
    background: #84919E;
    color: white;
}

.stroke_red {
  color: #ff4b00;
  box-shadow: 0 0 0 1.5px #ff4b00 inset;
}

.stroke_green {
  color: #03AF7A;
  box-shadow: 0 0 0 1.5px #03AF7A inset;
}

.stroke_blue {
  color: #005AFF;
  box-shadow: 0 0 0 1.5px #005AFF inset;
}

.stroke_sky {
  color: #4DC4FF;
  box-shadow: 0 0 0 1.5px #4DC4FF inset;
}

.stroke_orange {
  color: #F6AA00;
  box-shadow: 0 0 0 1.5px #F6AA00 inset;
}

.stroke_purple {
  color: #990099;
  box-shadow: 0 0 0 1.5px #990099 inset;
}

.stroke_brown {
  color: #804000;
  box-shadow: 0 0 0 1.5px #804000 inset;
}

.fill_lightgreen {
  box-shadow: 0 0 0 1.5px #84919E inset;
  color: black;
  background: #d8f255;
}

.fill_cream {
  box-shadow: 0 0 0 1.5px #84919E inset;
  color: black;
  background: #ffff80;
}

/* show/hide equipments */

.listcheck {
  list-style: none;
}

.listcheck input[type=checkbox] {
  display: none;
}

.box {
  margin-left: -1.5em;
  margin-right: 0.5em;
}
